BasedOnStyle: WebKit
IndentWidth: 4
ColumnLimit: 80

IndentCaseLabels: true
InsertNewlineAtEOF: true
AllowShortFunctionsOnASingleLine: None

BinPackArguments: false
BinPackLongBracedList: false

# replace this when when github actions/ubuntu has a new enough LLVM version
# BinPackParameters: OnePerLine
BinPackParameters: true

AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true

